<div class="card white">
    <div class="card-content ">
        <span class="card-title">Air temperature</span>
        <p>27.7 °C</p>
    </div>
</div>
<div class="card white">
    <div class="card-content ">
        <span class="card-title">Air humidity</span>
        <p>60 %</p>
    </div>
</div>
<div class="card white">
    <div class="card-content ">
        <span class="card-title">Soil moisture</span>
        <p>1004</p>
    </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect teal lighten-1">
    <i class="large material-icons">refresh</i>
  </a>
</div>

<script src="../js/sensor.js"></script>