<div class="card white">
    <div class="card-content ">
        <span class="card-title">Air temperature</span>
        <span id="temperature-text">NaN</span> <span> °C</span>
    </div>
</div>
<div class="card white">
    <div class="card-content ">
        <span class="card-title">Air humidity</span>
        <span id="humidity-text">NaN</span> <span> %</span>
    </div>
</div>
<div class="card white">
    <div class="card-content ">
        <span class="card-title">Soil moisture</span>
        <p id="moisture-text">NaN</p>
    </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect teal lighten-1" id="update-sensors-value-buttons">
    <i class="large material-icons">refresh</i>
  </a>
</div>

<script src="../js/sensor.js"></script>